<header class="d-flex justify-content-center py-3 bg-secondary">
  <ul class="nav nav-pills align-items-center">
    <li class="nav-item">
      <a routerLink="" class="nav-link text-dark" aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/favorites" class="nav-link text-white">Preferiti</a>
    </li>
    <li class="nav-item">
      <a routerLink="/cart" class="nav-link text-white">
        <i class="bi bi-cart4">
          <span class="badge bg-danger">{{ cartCount }}</span></i
        ></a
      >
    </li>
  </ul>
</header>
